<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="demoprojectSuite" parallel="tests" thread-count="6">
	<listeners>
		<listener class-name="com.demoproject.listeners.TestListener"></listener>
	</listeners>
	<test name="demoprojectTest_chrome">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.demoproject.test.DummyClass2"></class>
			<class name="com.demoproject.test.LoginPageTest"></class>
		</classes>
	</test>
	<test name="demoprojectTest_chrome2">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.demoproject.test.HomePageTest"></class>
		</classes>
	</test>
	<test name="demoprojectTest_firefox">
	<parameter name="browser" value="firefox"/>
		<classes>
			<class name="com.demoproject.test.DummyClass"></class>
			<class name="com.demoproject.test.ApiTest"></class>
		</classes>
	</test>
</suite>